.page {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.page__content {
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .page__content {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1113px) {
  .page__section {
    margin: 0 19px;
    max-width: calc(100% - 38px);
  }
}
